---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Not Found">
  <section>
    <h1>404 Not Found</h1>
    <p>
      The page you are looking for does not exist. You can return to the
      <a href="/">home page</a>.
    </p>
  </section>

  <style>
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      gap: 2rem;
      margin: 2rem;
    }
  </style>
</Layout>
