---

---

<footer>
  <div>
    <span>// Made in Ottawa 🇨🇦</span>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #000;
    color: #fff;
  }
</style>
