---
import peacetower from "../assets/peacetower.svg";
import HeroTypewriter from "./HeroTypewriter.astro";
import Logo from "./Logo.astro";
---

<section>
  <div class="hero">
    <div class="hero__text">
      <Logo />
      <HeroTypewriter />
    </div>
    <img
      id="peacetower"
      src={peacetower.src}
      alt="Image of the Peace Tower"
      fetchpriority="high"
    />
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--gray);
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
    margin-top: 2rem;
    min-height: 595px;
    overflow-x: hidden;
    transition: all 0.5s ease;
    @media screen and (max-width: 1000px) {
      width: 100%;
      grid-template-columns: 1fr;
      place-items: center;
      gap: 2rem;
      padding: 0 2rem;
    }
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
  }

  #peacetower {
    width: 100%;
    max-width: 470px;
    transform: translateX(28px);
  }
</style>
