---
import jsnationImage from "../assets/jsnation.webp";
---

<section>
  <div class="image-container">
    <a href="https://jsnation.us/" aria-label="JS Nation US link">
      <img src={jsnationImage.src} alt="JSNation" />
    </a>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .image-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
</style>
