---
import Icon from "./icons/Icon.astro";
---

<nav>
  <div class="navigation">
    <ul>
      <li>
        <a href="https://discord.gg/XMqZZtpPSK"
          ><Icon name="discord" />Discord</a
        >
      </li>
      <li>
        <a href="https://www.meetup.com/ottawa-forwardjs-meetup/"
          ><Icon name="meetup" size={20} />Meetup</a
        >
      </li>
      <li>
        <a href="https://github.com/OttawaReactJS/talks/issues/new">
          <Icon name="microphone" size="18" />
          Submit a talk
        </a>
      </li>
    </ul>

    <style>
      nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--gray);
      }

      .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 1000px;
        padding: 1.5rem;
        @media screen and (max-width: 1000px) {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 42px;
          padding: 1rem;
        }
      }

      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 32px;
        justify-content: center;
        align-items: center;
      }

      a {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    </style>
  </div>
</nav>
