---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Join ForwardJS Ottawa Meetup - Connect with fellow JavaScript developers and learn from industry experts"
    />
    <meta
      name="keywords"
      content="javascript, ottawa, meetup, forwardjs, programming, developers"
    />
    <meta property="og:title" content="ForwardJS - Meetup" />
    <meta
      property="og:description"
      content="Join ForwardJS Ottawa Meetup - Connect with fellow JavaScript developers and learn from industry experts"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://forwardjs.com" />
    <meta
      property="og:image"
      content="https://forwardjs.com/images/forwardjs-image.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="ForwardJS - Ottawa Meetup" />
    <meta
      name="twitter:description"
      content="Join ForwardJS Ottawa Meetup - Connect with fellow JavaScript developers and learn from industry experts"
    />
    <meta
      name="twitter:image"
      content="https://forwardjs.com/images/forwardjs-image.jpg"
    />

    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>ForwardJS - Ottawa Meetup</title>
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
